ul,li{
  list-style-type: none;
}
a{
  text-decoration: none!important;
}
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  /* height: 80%; */
  width: 0;
  position: fixed;
  z-index: 1;
  bottom:0;
  top: 76px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav li {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav li:hover {
  color: #f1f1f1;
}

/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

#main {
  transition: margin-left .5s;
  padding: 16px;
  
}
.sidenav li ul{
  display: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav li {font-size: 18px;}
}
.active{
  display: block!important;
}
  
.notActive{
  display: none!important;
}
div li ul{
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;

}
div li ul a{
display: block;
}
.toggleClass{
  width: 250px;
  
  /* margin-left: 250px; */
}
